<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://khanghuflit-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8032.site4now.net:8172/MsDeploy.axd?site=khanghuflit-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>khanghuflit-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>khanghuflit-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CLOTHESEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8002.site4now.net;Initial Catalog=db_a88c82_khanghuflit;User ID=db_a88c82_khanghuflit_admin;Password=@Khang123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClothesWebNET.Models.CLOTHESEntities, ClothesWebNET" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CLOTHESEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClothesModels.csdl|res://*/Models.ClothesModels.ssdl|res://*/Models.ClothesModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8002.site4now.net;Initial Catalog=db_a88c82_khanghuflit;User ID=db_a88c82_khanghuflit_admin;Password=@Khang123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>